/*** Reset ***/
/* This is from Kevin Powell, edit to your liking */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  /* max-width: 55ch; */
}

/* for container queries, landmarks as containers */
body> :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*** Theme ***/

:root {
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;


  /*** Theme setup ***/

  /* font family */
  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;
}

/*** Global/base ***/
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-primary-dark);
}


/*** Composition ***/
.flow>*+* {
  margin-block-start: var(--flow-space);
}

.flow-lg>*+* {
  margin-block-start: var(--flow-space-lg);
}

/*
See these for more info:
https://www.youtube.com/watch?v=c13gpBrnGEw
https://www.youtube.com/watch?v=cf-J4ffMBfo
*/
.content-grid,
.fullwidth {
  --_content-width: 70rem;
  --_min-margin-width: 1rem;

  display: grid;
  grid-template-columns: [fullwidth-start] minmax(var(--_min-margin-width), 1fr) [content-start] min(100% - var(--_min-margin-width) * 2,
      var(--_content-width)) [content-end] minmax(var(--_min-margin-width), 1fr) [fullwidth-end];
  /*  grid-template-rows: [fullwidth-start] auto [fullwidth-end];*/
}

/* keep the content of the content-grid and fullwidth inside the content container */
.content-grid>*,
.fullwidth>* {
  grid-column: content;
}

/* a bit more complex but more fancy/explicit version of above */
/*.content-grid > :not(.fullwidth),
.fullwidth > :not(.fullwidth) {
  grid-column: content;
}*/

/* if we have a fullwidth inside of a content-grid put this in the fullwidth container */
.content-grid>.fullwidth {
  grid-column: fullwidth;
}


/*** Utilities ***/

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

header {
  background-color: var(--clr-primary-light-1);

  & nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--clr-accent);

    & li {
      height: 100%;
      padding: 1.5rem;
      min-width: 2rem;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
    }

    & li:hover {
      background-color: var(--clr-accent);
      color: var(--clr-accent-light-1)
    }

    & .logo {
      display: flex;
      flex-direction: row;
      align-items: center;


      & img {

        height: 3rem;
        width: 3rem;
      }

      & h2 {
        max-width: 10rem;
        line-height: 1.2rem;
        font-size: 1.5rem;

      }
    }

    & [role="list"] {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

  }

}



.gallery {
  text-align: center;
  display: flex;
  justify-content: center;
  padding: 4rem;

  & .gallery-text {
    max-width: 50vw;

    & h2 {
      margin-bottom: 1rem;
    }



  }
}

.newsletter {
  background-color: var(--clr-primary-light-1);
  padding: 4rem;

  & .newsletter-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 30vh;

    & .left-container {
      max-width: 30vw;
      align-self: center;

      & h2 {
        margin-bottom: 1rem;
      }

      .input-wrapper {

        position: relative;
        display: inline-block;
      }

      .input-wrapper input {

        background-color: var(--clr-accent-light-1);
        padding: 1rem;
        color: var(--clr-primary-dark);
        border-radius: 3rem;
        padding-right: 5rem;
      }

      .input-wrapper button {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        height: 90%;


        border-radius: 4rem;
        padding: 1rem;
        border: none;
        background-color: var(--clr-accent);
        cursor: pointer;
      }


    }

    & .right-container {
      align-self: center;
      background-color: var(--clr-accent);
      border-radius: 100%;
      padding: 4rem;

      & img {
        width: 8rem;
        height: 8rem;
      }
    }
  }
}

.card-heading {
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;

  & span {
    background-color: var(--clr-accent);
    color: var(--clr-accent-light-1);
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;

  }

  & article {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: var(--clr-neutral-100);
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    & .span-wrapper {
      display: flex;
      flex-direction: row;
      gap: 0.2rem;
      flex-wrap: wrap;

    }
  }
}

.history {
  background-color: var(--clr-primary-light-1);
  padding: 4rem;
  margin-bottom: 2rem;

  & .history-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 30vh;

    & .history-left-container {
      align-self: center;
      background-color: var(--clr-accent);
      border-radius: 100%;
      padding: 4rem;

      & img {
        width: 8rem;
        height: 8rem;
      }

    }

    & .history-right-container {
      margin-left: 4rem;
      display: flex;
      flex-direction: column;
      max-width: 30vw;
      align-self: center;
      text-align: left;
      gap: 1rem;

      & button {

        align-self: end;
        padding: 0.5rem;
        background-color: var(--clr-accent);
        border-radius: 2rem;
        border: none;
        cursor: pointer;
      }
    }
  }

}

footer {
  background-color: var(--clr-accent);
  color: var(--clr-accent-light-1);
  min-height: 10rem;
  padding: 4rem;

  & .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  & .footer-left-wrapper {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & .footer-contact-details {
      font-weight: bold;
      display: flex;
      flex-direction: column;
    }
  }
  & .footer-right-wrapper{
    min-width: 30%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    height: 100%;
   
    & ul {
       list-style-type: none;
       display: flex;
       flex-direction: column;
       justify-content: space-between;
    
    
    }
  }

}



