/*** Reset ***/
/* This is from Kevin Powell, edit to your liking */

/* makes sizing simpler */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* dark mode user-agent-styles */
html {
  color-scheme: dark light;
}

/* min body height */
body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* make headings wrap better */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

p,
li,
figcaption {
  text-wrap: pretty;
  /* max-width: 55ch; */
}

/* for container queries, landmarks as containers */
body> :is(header, footer),
main {
  container-type: inline-size;
}

/* remove list style but keep it as list for Safari browser - use with <ul role="list"> */
[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*** Theme ***/

:root {
  /* color definitions */
  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-200: hsl(0, 0%, 87%);
  --clr-neutral-300: hsl(0, 0%, 57%);
  --clr-neutral-400: hsl(0, 0%, 27%);
  --clr-neutral-800: hsl(0, 0%, 17%);
  --clr-neutral-900: hsl(0, 0%, 12%);

  --clr-green-100: hsl(169, 11%, 93%);
  --clr-green-200: hsl(169, 51%, 58%);
  --clr-green-400: hsl(169, 86%, 28%);
  --clr-green-800: hsl(169, 86%, 12%);
  --clr-green-900: hsl(169, 80%, 12%);

  --clr-robust: hsl(221, 63%, 32%);
  --clr-green: hsl(110, 63%, 32%);
  --clr-flower: hsl(2, 92%, 33%);
  --clr-colorful: hsl(303, 55%, 47%);
  --clr-sunloving: hsl(27, 88%, 33%);
  --clr-air: hsl(180, 84%, 27%);
  --clr-decorative: hsl(278, 79%, 40%);
  --clr-edible: hsl(68, 61%, 30%);
  --clr-easy: hsl(224, 86%, 58%);
  --clr-fragrant: hsl(327, 51%, 47%);
  --clr-fast: hsl(218, 11%, 34%);

  /* font weights definitions */
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
  --fw-800: 800;
  --fw-900: 900;

  /* Font sizes definitions */
  --fs-100: 0.625rem;
  --fs-200: 0.75rem;
  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;


  /*** Theme setup ***/

  /* font family */
  --font-base: "Open Sans", "Segoe UI", Tahoma, sans-serif;

  /* theme color assignments */
  --clr-accent: var(--clr-green-400);
  --clr-accent-light-1: var(--clr-green-100);

  --clr-primary-light-1: var(--clr-neutral-100);
  --clr-primary-light-2: var(--clr-neutral-200);
  --clr-primary-light-3: var(--clr-neutral-300);

  --clr-primary: var(--clr-neutral-400);
  --clr-primary-dark: var(--clr-neutral-800);

  /* Font weights assignments */
  --fw-regular: var(--fw-400);
  --fw-medium: var(--fw-500);
  --fw-semi-bold: var(--fw-600);
  --fw-bold: var(--fw-700);
  --fw-x-bold: var(--fw-900);

  /* Border shadow */
  --border-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

  /* Spacing */
  --spacing-base: 1rem;

  --flow-space: 1.75em;
  --flow-space-lg: 4em;
}

/*** Global/base ***/
h1,
h2,
h3 {
  font-weight: var(--fw-bold);
  line-height: 1;
}

h1,
h2 {
  font-size: var(--fs-700);
}

h3 {
  font-size: var(--fs-600);
  font-weight: var(--fw-semi-bold);
}

a {
  text-decoration: none;
  color: var(--clr-accent);

  &:hover,
  &:focus-visible {
    text-decoration: underline;
  }
}

body {
  font-family: var(--font-base);
  background-color: var(--clr-accent-light-1);
  color: var(--clr-neutral-400);
}


/*** Composition ***/
.flow>*+* {
  margin-block-start: var(--flow-space);
}

.flow-lg>*+* {
  margin-block-start: var(--flow-space-lg);
}

.content-grid,
.fullwidth {
  --_content-width: 70rem;
  --_min-margin-width: 1rem;

  display: grid;
  grid-template-columns: [fullwidth-start] minmax(var(--_min-margin-width), 1fr) [content-start] min(100% - var(--_min-margin-width) * 2,
      var(--_content-width)) [content-end] minmax(var(--_min-margin-width), 1fr) [fullwidth-end];
  /*  grid-template-rows: [fullwidth-start] auto [fullwidth-end];*/
}

/* keep the content of the content-grid and fullwidth inside the content container */
.content-grid>*,
.fullwidth>* {
  grid-column: content;
}

/* if we have a fullwidth inside of a content-grid put this in the fullwidth container */
.content-grid>.fullwidth {
  grid-column: fullwidth;
}

/*** Utilities ***/
.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

header {
  background-color: var(--clr-primary-light-1);

  & nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    color: var(--clr-accent);

    & li {
      height: 100%;
      padding: 1.5rem;
      min-width: 2rem;
      text-align: center;
      cursor: pointer;
      text-transform: uppercase;
    }

    & li:hover {
      background-color: var(--clr-accent);
      color: var(--clr-accent-light-1)
    }

    & .logo {
      display: flex;
      flex-direction: row;
      align-items: center;


      & img {

        height: 3rem;
        width: 3rem;
      }

      & h2 {
        max-width: 10rem;
        line-height: 1.2rem;
        font-size: 1.5rem;

      }
    }

    & [role="list"] {
      display: flex;
      align-items: center;
      gap: 2rem;
    }

  }

}



.gallery {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 0 4rem 0;

  & .gallery-text {
    max-width: 50vw;

    & h2 {
      margin-bottom: 1rem;
    }
  }

  .gallery-grid {
    display: grid;
    grid-template-columns: 2fr repeat(2, 1fr) 2fr;
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: fit-content;
    background-color: var(--clr-neutral-100);
    padding: 1rem;
    margin-top: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    & img {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

  }

  .div1 {
    grid-area: 1 / 1 / 5 / 2;
  }

  .div2 {
    grid-area: 1 / 2 / 3 / 3;
  }

  .div3 {
    grid-area: 1 / 3 / 3 / 4;
  }

  .div4 {
    grid-area: 1 / 4 / 3 / 5;
  }

  .div5 {
    grid-area: 3 / 4 / 5 / 5;
  }

  .div6 {
    grid-area: 3 / 2 / 5 / 4;
  }
}

.newsletter {
  background-color: var(--clr-primary-light-1);
  padding: 4rem;

  & .newsletter-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 30vh;

    & .left-container {
      max-width: 30vw;
      align-self: center;

      & h2 {
        margin-bottom: 1rem;
      }

      .input-wrapper {

        position: relative;
        display: inline-block;
      }

      .input-wrapper input {

        background-color: var(--clr-accent-light-1);
        padding: 1rem;
        color: var(--clr-primary-dark);
        border-radius: 3rem;
        padding-right: 5rem;
        border: 1px solid black;
      }

      .input-wrapper button {
        position: absolute;
        margin: 2px;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 4rem;
        padding: 1rem;
        border: none;
        background-color: var(--clr-accent);
        cursor: pointer;
        
      }


    }

    & .right-container {
      align-self: center;
      background-color: var(--clr-accent);
      border-radius: 100%;
      padding: 4rem;

      & img {
        width: 8rem;
        height: 8rem;
      }
    }
  }
}

.card-heading {
  text-align: center;
  margin: 2rem 0 1rem 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  margin-bottom: 2rem;

  & span {
    background-color: var(--clr-accent);
    color: var(--clr-accent-light-1);
    padding: 0.5rem;
    border-radius: 2rem;
    font-size: 10px;
    text-transform: uppercase;
    font-weight: 600;

  }

  & article {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    background-color: var(--clr-neutral-100);
    gap: 1rem;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    & .span-wrapper {
      display: flex;
      flex-direction: row;
      gap: 0.2rem;
      flex-wrap: wrap;

    }

    & .author-wrapper {
      display: flex;
      flex-direction: row;
      align-items: center;


      & img {
        background-color: var(--clr-accent-light-1);
        border-radius: 100%;
        border: 1px solid black;
        object-position: 0px 1ch;

      }

      & .author-timestamp {
        margin-left: 1rem;
        display: flex;
        flex-direction: column;

        & p {
          color: var(--clr-accent);
          font-weight: bold;
        }
      }
    }
  }
}

.history {
  background-color: var(--clr-primary-light-1);
  padding: 4rem;
  margin-bottom: 2rem;

  & .history-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 30vh;

    & .history-left-container {
      align-self: center;
      background-color: var(--clr-accent);
      border-radius: 100%;
      padding: 4rem;

      & img {
        width: 8rem;
        height: 8rem;
      }

    }

    & .history-right-container {
      margin-left: 4rem;
      display: flex;
      flex-direction: column;
      max-width: 30vw;
      align-self: center;
      text-align: left;
      gap: 1rem;

      & button {

        align-self: end;
        padding: 0.5rem;
        background-color: var(--clr-accent);
        border-radius: 2rem;
        border: none;
        cursor: pointer;
      }
    }
  }

}

footer {
  background-color: var(--clr-accent);
  color: var(--clr-accent-light-1);
  min-height: 10rem;
  padding: 4rem;

  & .footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

  }

  & .footer-left-wrapper {
    max-width: 50%;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    & .footer-contact-details {
      font-weight: bold;
      display: flex;
      flex-direction: column;
    }
  }

  & .footer-right-wrapper {
    min-width: 30%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    height: 100%;

    & ul {
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: space-between;


    }
  }
}





@media (max-width: 1200px) {

  nav {
    flex-direction: column;
  }

  .card-grid {
    grid-template-columns: repeat(3, 1fr);
  }

}

@media (max-width: 900px) {

  nav {
    flex-direction: column;
  }



  .gallery {
   
    .gallery-text{
      min-width: 100%;
      margin-bottom: 2rem;
    }
    .gallery-grid {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);

      & .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }

      & .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }

      & .div3 {
        grid-area: 1 / 3 / 2 / 4;
      }

      & .div4 {
        grid-area: 2 / 1 / 3 / 2;
      }

      & .div5 {
        grid-area: 2 / 2 / 3 / 3;
      }

      & .div6 {
        grid-area: 2 / 3 / 3 / 4;
      }
    }
  }


  .card-grid {
    grid-template-columns: repeat(2, 1fr);

  }

}


@media (max-width: 600px) {

  nav {
    flex-direction: column;
  }

  .gallery {

    .gallery-grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);

      .div1 {
        grid-area: 1 / 1 / 2 / 2;
      }

      .div2 {
        grid-area: 1 / 2 / 2 / 3;
      }

      .div3 {
        grid-area: 2 / 1 / 3 / 2;
      }

      .div4 {
        grid-area: 2 / 2 / 3 / 3;
      }

      .div5 {
        grid-area: 3 / 1 / 4 / 2;
      }

      .div6 {
        grid-area: 3 / 2 / 4 / 3;
      }
    }
  }

  .card-grid {
    grid-template-columns: repeat(1, 1fr);
  }

}